@font-face {
    font-family: Gotham Rounded;
    src: url('../fonts/GothamRoundedBold_21016.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Gotham Rounded;
    src: url('../fonts/GothamRoundedBook_21018.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Gotham Rounded;
    src: url('../fonts/GothamRoundedLight_21020.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
